#drawingDiv {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.mouse {
    height: 10.5rem;
    align-self: flex-end;
    margin-right: -4rem;

}

.cheese {
    height: 9.2rem;
    margin-top: -107.5px;
    margin-left: -10.2rem;
}

@media only screen and (max-width: 768px) {
    .mouse {
        height: 6.7rem;
    }
    
    .cheese {
        height: 2.7rem;
        margin-left: -5.5rem;
    }

}