#drawingDiv {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    margin-top: 40px;
    opacity: 0;
    height: 18.5rem;
}

#ladder {
    display: flex;
    height: 100%;
    margin-top: -20px;
    grid-column: 6 / 10;
    grid-row: 1 / 5;
}

#ladderFootDiv {
    display: flex;
    position: absolute;
    height: 18.5rem;
}

#rungDiv {
    display: flex; 
    flex-direction: column;
    height: 100%;
    position: relative;
}

.ladderfoot {
    height: 18.5rem;
    width: 11.2rem;
    min-height: 250px;
    min-width: 150px;
    opacity: 0;
}

#ladderfootleft {
    margin-right: -40px;
}

#ladderfootright {
    margin-left: -60px;
}

.rung {
    height: 5rem;
    width: 195px;
    min-height: 360px;
    margin-bottom: -310px;
    opacity: 0;
}

#rung1 {
    margin-left: 70px;
    margin-top: -160px;
}

#rung2 {
    margin-left: 60px;
}

#rung3 {
    margin-left: 50px;
}

#rung4 {
    margin-left: 40px;
}

#rung5 {
    margin-left: 30px;
}

.mouse {
    height: 10.5rem;
    align-self: flex-end;
    margin-right: -4rem;
    min-height: 108px;
    min-width: 152px;
    grid-column: 4 / 10;
    grid-row: 5 / 5;
}

.cheese {
    height: 9.2rem;
    margin-top: -107.5px;
    margin-left: 4.5rem;
    min-height: 88px;
    min-width: 125px;
    grid-column: 6 / 10;
    grid-row: 1 / 5;
}

@media only screen and (max-width: 768px) {

    #ladder {
        margin-top: -45px;
        grid-column: 5 / 10;
    }

    .ladderfoot {
        height: 10.5rem;
        width: 7.7rem;
    }

    #drawingDiv {
        height: 10.5rem;
    }

    .rung {
        width: 128px;
        margin-bottom: -322px;
    }

    .mouse {
        height: 6.7rem;
        grid-column: 2 / 10;
    }
    
    .cheese {
        height: 6.5rem;
        grid-column: 5 / 10;
    }

}