.letters{
    margin: 2px;
}

#elementsToReturn{
    margin: 50px 10%;
    width: 80%;
    position: absolute;
    bottom: 0;
}

.alreadyInWordLetter {
    background-color: white;
    color: #03490c;
    cursor: auto;
}

.wrongLetterGuess {
    background: transparent;
    color: white;
    cursor: auto;
    pointer-events: none;
}