.App {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

#fullScreenBtn{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

#fullScreenBtn:hover{
  filter: sepia(1) saturate(500%) hue-rotate(-20deg) brightness(80%);
}
